{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
         <div class="col">
            <ul>
            {% for i in range(0,len) %}
                  <li>{{ list_customer_columns[i] }} : {{ list_customer_data[i] }} </li>
              {% endfor %}
            </ul>
          </div>

        <div class="col">
            <form class="well form-horizontal" action="/customer_filter" method="POST"  id="contact_form">
                <select name="filter_col_select">
                    {% for column in list_customer_columns %}
                    <option value= "{{column}}">{{ column }} </option>
                    {% endfor %}
                </select>
                <div class="button">
                    <button type="submit">Envoyez</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}