<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>

    <title>Home Crédit Application</title>



    <div class="container">
        <form class="well form-horizontal" action="/result" method="post"  id="contact_form">
        <fieldset>

    <!-- Form Name -->

    <legend><center><h2><b>Home Crédit Application</b></h2></center></legend><br>
    <center><img src="{{url_for('static', filename='home credit.jpg')}}" align="middle" /></center>
    <br><br>
          <div class="form-row">
                <div class="form-group col-md-6">
                <label class="col-md-4 control-label">DAYS_BIRTH </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="DAYS_BIRTH" placeholder="8760 for 24y (0+)" class="form-control"  type="text">
                    </div>
                </div>

              <div class="form-group col-md-6">
                <label class="col-md-4 control-label">DAYS_EMPLOYED </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="DAYS_EMPLOYED" placeholder="365 for 1y (0+)" class="form-control"  type="text">
                    </div>
                </div>
          </div>
          <div class="form-row">
                <div class="form-group col-md-6">
                <label class="col-md-4 control-label">REGION_RATING_CLIENT_W_CITY </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="REGION_RATING_CLIENT_W_CITY" placeholder="REGION_RATING_CLIENT_W_CITY" class="form-control"  type="text">
                    </div>
                </div>

              <div class="form-group col-md-6">
                <label class="col-md-4 control-label">REGION_RATING_CLIENT </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="REGION_RATING_CLIENT" placeholder="REGION_RATING_CLIENT" class="form-control"  type="text">
                    </div>
                </div>
          </div>
          <div class="form-row">
                <div class="form-group col-md-6">
                <label class="col-md-4 control-label">DAYS_REGISTRATION </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="DAYS_REGISTRATION" placeholder="DAYS_REGISTRATION" class="form-control"  type="text">
                    </div>
                </div>

              <div class="form-group col-md-6">
                <label class="col-md-4 control-label">AMT_GOODS_PRICE </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="AMT_GOODS_PRICE" placeholder="AMT_GOODS_PRICE" class="form-control"  type="text">
                    </div>
                </div>
          </div>
          <div class="form-row">
                <div class="form-group col-md-6">
                <label class="col-md-4 control-label">DAYS_LAST_PHONE_CHANGE </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="DAYS_LAST_PHONE_CHANGE" placeholder="DAYS_LAST_PHONE_CHANGE" class="form-control"  type="text">
                    </div>
                </div>

              <div class="form-group col-md-6">
                <label class="col-md-4 control-label">EXT_SOURCE_1 </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="EXT_SOURCE_1" placeholder="empty if unknown" class="form-control"  type="text">
                    </div>
                </div>
          </div>
          <div class="form-row">
                <div class="form-group col-md-6">
                <label class="col-md-4 control-label">EXT_SOURCE_2 </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="EXT_SOURCE_2" placeholder="empty if unknown" class="form-control"  type="text">
                    </div>
                </div>

              <div class="form-group col-md-6">
                <label class="col-md-4 control-label">EXT_SOURCE_3 </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="EXT_SOURCE_3" placeholder="empty if unknown" class="form-control"  type="text">
                    </div>
                </div>
          </div>


    <!-- Button -->
          <div class="form-group">
          <center>
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4"><br>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit"  class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPREDICT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
              </div>
          </center>
          </div>

        </fieldset>
        </form>
    </div><!-- /.container -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>